profile = default
margin = 100
wrap-fun-args = false
exp-grouping = preserve
break-separators = before
space-around-arrays = false
space-around-lists = false
space-around-records = false
space-around-variants = false
type-decl = sparse
doc-comments = before
doc-comments-padding = 2
doc-comments-tag-only = default
doc-comments-warning = 40
let-and = sparse
let-or = sparse
break-cases = all
break-string-literals = auto
break-struct = force
cases-exp-indent = 2
field-space = loose
if-then-else = keyword-first
indicate-multiline-delimiters = space
indicate-nested-or-patterns = unsafe
infix-precedence = parens
leading-nested-match-parens = false
let-binding-spacing = compact
module-item-spacing = sparse
parens-tuple = always
sequence-style = separator
type-decl = sparse
wrap-comments = true
